.add-course-item {
	margin-bottom: 1rem;
	.add-course-item__label {
		margin-bottom: 20px;
		padding: 12px 0;
		font-weight: 500;
		font-size: 1rem;
	}

	.add-course-item__main {
	}
}

.btn-add-course {
	margin-bottom: 1rem;
}
